{% extends 'single_content_base.html.twig' %}

{% import 'shared/tables.html.twig' as tables %}

{% block title %}{{ "view.title"|trans }}{% endblock %}
{% block description %}{{ "view.description"|trans }}{% endblock %}

{% trans_default_domain "organisation" %}

{% block single_content %}
    <h2>{{ "view.welcome"|trans({'{name}': organisation.name}) }}</h2>

    <p class="lead">{{ "view.welcome_thanks"|trans }}</p>
    <p>{{ "view.welcome_help"|trans|nl2br }}</p>

    <hr class="mt-5 mb-5"/>

    <h2>{{ "entity.name"|trans({}, "entity_semester_report") }}</h2>
    {% if submit_semester_report is defined %}
        {{ form(submit_semester_report) }}
    {% else %}
        <p class="alert alert-success">{{ "view.semester_report_submitted"|trans }}</p>
    {% endif %}

    <hr class="mt-5 mb-5"/>

    <h2>{{ "entity.plural"|trans({}, "entity_event") }}</h2>
    <div class="btn-group mb-2">
        <a class="btn btn-secondary"
           href="{{ path("organisation_event_new", {"organisation": organisation.id}) }}">
            {{ "new.title"|trans({}, "organisation_event") }}
        </a>
    </div>

    {{ tables.events(organisation, true) }}
{% endblock %}

