{% extends "single_content_base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "administration_organisation" %}

{% block single_content %}
    <div class="btn-group mb-2">
        <a class="btn btn-secondary"
           href="{{ path("administration_organisation_new") }}">
            {{ "new.title"|trans }}
        </a>
    </div>
    {% if organisations|length == 0 %}
        <p>{{ "index.no_organisations_added_yet"|trans }}</p>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "name"|trans({}, "entity_organisation") }}</th>
                <th>{{ "email"|trans({}, "entity_organisation") }}</th>
                <th>{{ "relation_since_semester"|trans({}, "entity_organisation") }}</th>
                <th class="minimal-width"></th>
            </tr>
            </thead>
            <tbody>

            {% for organisation in organisations %}
                <tr>
                    <td>{{ organisation.name }}</td>
                    <td><a href="mailto:{{ organisation.email }}">{{ organisation.email }}</a></td>
                    <td>{{ organisation.relationSinceSemester|semesterFormat }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-secondary"
                               href="{{ path("administration_organisation_edit", {"organisation" : organisation.id}) }}">
                                <i class="fal fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger"
                               href="{{ path("administration_organisation_remove", {"organisation" : organisation.id}) }}">
                                <i class="fal fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
